<!DOCTYPE html>
<html lang="en">

  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css">


    
    <header>
     
<nav class="navbar miNavbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     
      <a class="nav-item nav-link active" href="http://localhost:8000/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="http://localhost:8000/contacto">Contacto</a>
      <a class="nav-item nav-link" href="http://localhost:8000/proyectos">Proyectos</a>
      
    </div>
  </div>
</nav>
    </header>
      
      


      <script src="assets/js/jquery-3.3.1.js"></script>
      <script src="assets/js/bootstrap.js"></script> 
      <script src= "/app.js"></script>

     
 
</html>

