<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiApp</title>

</head>

<body>
      {{>header}}     


      <section>
            <div class="miBanner">
               <div class="sombraForm"> 

        <!--       <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">   -->          
                <form action="/send-email" method="post">
                  <br>
                    <fieldset>
                      <legend class="text-center header">Contáctanos. En breve responderemos tu consulta.</legend>
                      
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-4 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="fname" name="nombre" type="text" placeholder="Nombre" class="form-control">
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="lname" name="apellido" type="text" placeholder="Apellido" class="form-control">
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="telefono" name="telefono" type="text" placeholder="Número de contacto" class="form-control">
                            </div>
                        </div>
                                
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí." rows="7"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-2 ">
                              <div class="botonFormulario">
                                <button class="btn btn-sm btn-outline-light text-primary btn-rounded btn-block z-depth-0 my-4" type="Enviar"><b>Enviar</b></black></button>
                            </div>
                            <br>
                        </div>
                      </div>

                    </fieldset>
                  </form>          

               </div>
                 
             </div>
      </section>
    


      {{>footer}} 

      
    
    
</body>
</html>
