<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiApp</title>
    
 
</head>
<body>

     

      <section>
             <div class="miBanner">
               <div class="sombra">
                            
                   
                   <h1>Mi App</h1>
                   <p>Aplicaciones a tu medida</p>
                   <hr/>
                   <div class="bannerLinkCont">
                       <a class="bannerLink" href="http://localhost:8000/proyectos">Proyectos</a>
                       <a class="bannerLink2" href="http://localhost:8000/contacto">Cotización</a>
                   </div>

               </div>
                 
             </div>
      </section>
       <section>
           <div class="container">
               <div class="row seccion1">  <!--Texto a la izquierda-->
                   <div class="col-md-9">
                       <h2><b>Mi App</b></h2>
                       <p><i>La mejor opción para tu negocio</i></p>
                       <hr>
                       <p>Tu app en el menor tiempo y al mejor precio del mercado.</p>
                   </div>
                  </div>             
       
         
          
       </section>

       <!-- Footer -->
    
        {{>footer1}}   
    
 
   
      
    
    
</body>
</html>


