/*  
Elimino márgenes
ajusto el contenido con padding para que no toque los bordes
con box-sizing mantengo los elems dentro del contenedor
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* Modifico el tipo de letra con el código de Google Fonts */

body{
    font-family: 'Cormorant Garamond', serif;
}

/* color navbar*/

.miNavbar{
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.miNavbar div, .miNavbar ul{
    background-color: transparent ¡important!;
    
}


/* Link ir arriba*/
.arriba{
    padding: .5px;    
    box-sizing: border-box;
    
}

/*Sección container redes sociales*/

.seccion1{
    padding: 2.5%;
   
}


/* Botón contáctanos en página "Proyectos"*/    
.estiloSeccion{   
    padding: .5 px;
    width: 200px;
}

/* Columna anterior al footer en homepage*/

.seccion1 hr{  /* Estilo de línea */
    border-top: 1px solid rgba(1, 1, 1, 0.3);
}


.col-md-9{

    position: relative;
  margin-top: -1px; 
  margin-bottom: 25px;
   clear:both;
  width:100%;
}


/* Íconos redes sociales*/
.iconos{
    padding: 20%;
    position:absolute;
    
}
/* Posición del formulario. Página "Contacto" */ /* centrado pendiente*/

.form-group{
    box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Footer del formulario de contacto*/

.otroFooter{ 
    
  position: relative;
  margin-top: -43px; 
  margin-bottom: 0px;
  height: 30px;
  clear:both;
  width:100%;
 }

 
/* Estilos de portada*/

.miBanner{
    height: 100vh; /* alto del contenedor */
    background-attachment: fixed;  /* img. de fondo fija*/
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover; /* tamaño original img.*/
    background-image: url("../img/1.jpeg");

}
/* sombra de homepage*/

.sombra{
    position:absolute; /* para que sea flotante */
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%); /* espacio de recorrido */
    -webkit-transform: translate(-50%, -50%); /* compatibilidad c/ navegadores */
    transform:translate(-50%, -50%);
    padding: 20px; /* contenido separado 20 ps del borde*/
    width:80%; /* ancho del sombreado */
    text-align: center;
    background-color: rgba(34, 33, 33, 0.6);
    color:seashell;
    margin: auto;
}

/* sombra del formulario de contacto*/

.sombraForm{
    position:absolute; /* para que sea flotante */
    left: 50%;
    right: 50%;
    top: 52%;
    -ms-transform: translate(-50%, -50%); /* espacio de recorrido */
    -webkit-transform: translate(-50%, -50%); /* compatibilidad c/ navegadores */
    transform:translate(-50%, -50%);
    padding: .25px; /* contenido separado del borde*/
    width:70%; /* ancho del sombreado no anda */
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    color:seashell;
    margin: auto;
}

/* línea blanca en la sombra*/
.sombra hr{
     border-top: 1px solid #fff;
}

/*variación del tamaño de letra según dispositivo */

.sombra h1{
    font-size: 8vw;
    margin-bottom: 10px;
}
/* Tamaño para párrafos debajo de h1*/
.sombra p{
    font-size: 4vw;
    margin-bottom: 10px;
}
/* Contenedor de los links*/
.bannerLinkCont{
    margin: 15px;
    position: relative;
}

.bannerLinkCont a{
    position:relative;
    display: inline-block;
    color:#fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}

.bannerLinkCont a:hover{
background-color:rgb(148, 110, 110);
color:seashell;
}

/*animación de los links*/

.bannerLink{
    opacity: 0;
    animation: movimientoDesdeArriba 1s;
    -webkit-animation: movimientoDesdeArriba 1s;
    animation-fill-mode:forwards;
}

.bannerLink1{
    opacity: 0;
    animation: movimientoDesdeArriba 1s;
    -webkit-animation: movimientoDesdeArriba 1s;
    animation-fill-mode:forwards;
    animation-delay: 0.5s;

}

.bannerLink2{
    opacity: 0;
    animation: movimientoDesdeArriba 1s;
    -webkit-animation: movimientoDesdeArriba 1s;
    animation-fill-mode:forwards;
    animation-delay: 1s;
}

/*Encabezado de trabajos realizados*/
.jumbotron{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Work Sans', sans-serif;
    color:rgb(104, 84, 84);
    padding: 5%;
}

/*Degradé en el fondo del encabezado*/
.gradient-custom {
    /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5))
}

/*Container de la galería de fotos*/

.containerGaleria{
    padding: 10px;
    margin: 15px;
    position: relative; 
}

/* Keyframes */

@keyframes movimientoDesdeArriba{
  from{
opacity: 0;
top: -150px;
  }
  to{
opacity: 1;
top: 0;
  }
}

@keyframes movimientoDesdeArriba {
  from{
      opacity: 0;
      top: -150px;
          }
          to{
      opacity: 1;
      top: 0;
          }
}

/* Estilo de páginas */


